body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  text-align: center;
}

#tf-container {
  background: white;
  padding: 20px;
  width: 400px;
  margin: auto;
  border-radius: 10px;
}
